@charset "UTF-8";

@import "framework/framework";
#framework > .init('/assets/img');

// -----------------------------------------
/* PROJECT STYLE */
//------------------------------------------

// includes
@import "framework/mixins/_mixins";

// variables and mixins
@path-imgFolder: '/assets/img';
@path-iconFolder: '/assets/img/icons';
@unit-space: 20px;
@round: 3px;
@textColor: hsl(197, 7%, 30%);
@linkHoverColor: hsl(15, 52%, 42%);
@hue: hue(@textColor);

.an-noiseSlide() {
  .noiseSlide() {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 471px 0;
    }
  }
  @-webkit-keyframes noiseSlide {.noiseSlide();}
  @-moz-keyframes noiseSlide {.noiseSlide();}
  @-o-keyframes noiseSlide {.noiseSlide();}
  @keyframes noiseSlide {.noiseSlide();}
}

// style
body {
  background: #170D0C url("@{path-imgFolder}/bg.jpg") no-repeat;
  background-size: 100%;// 100%;
}
h1, h2, h3 {
  margin: 0;
}
.an-noiseSlide();
.noise {
  background: url("@{path-imgFolder}/noise.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
.noise-animate {
  .animation(noiseSlide, 20s, 0s, linear, infinite, normal, none);
}
.page {
  margin: auto;
  width: 700px;
  position: relative;
  z-index: 2;
}
.header {
  margin: @unit-space;
}
.content {
  margin-bottom: @unit-space;
}

.title {
  border-bottom: 1px solid #819198;
  box-shadow: 0 1px 0 #FFFFFF;
  color: #556268;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 0.1em;
  padding-bottom: 2px;
  text-transform: uppercase;
  word-spacing: 0.1em;
  margin-bottom: 10px;
}
.win-title {
  position: absolute;
  left: 50%;
  width: 180px;
  margin-left: -90px;
  float: none;
}
.big-title {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  @cl: hsl(32, 5%, 53%);
  text-shadow: 0px 2px 0px darken(@cl, 15%), 0px -1px 0px @cl, 1px 0px 0px @cl, -1px 0px 0px @cl, 0px 1px 2px #000;
  color: hsl(200, 100%, 98%);
  padding: 0px @unit-space;
}
.preloader {
  width: 160px;
  margin: @unit-space auto;
  padding: (@unit-space / 2);
  .round((2 * @round));
  background-color: hsla(0, 0%, 0%, 55%);
  .shadow(inset 0px 1px 4px #111);
}
.stripe-title {
  @titleColor: hsl(40, 40%, 93%);
  @titleColorHue: hue(@titleColor);

  position: relative;
  font-size: 20px;
  line-height: 150%;
  font-family: 'PT Sans', serif;
  padding: 5px @unit-space + 10px;
  margin: 0 -(@unit-space + 10px) (@unit-space / 2);
  .text-shadow(hsl(@titleColorHue, 10%, 97%));
  background-color: @titleColor;
  .gradient(hsl(@titleColorHue, 40%, 88%), @titleColor);
  @sh: 0px 1px 0px hsl(@titleColorHue, 20%, 70%),
  0px 1px 1px hsl(@titleColorHue, 20%, 75%);
  .shadow(@sh);
  &:before,
  &:after {
    display: block;
    content: '';
    .size(0px, 0px);
    left: 0px;
    bottom: -10px;
    position: absolute;
    border-style: solid;
    @brColor: hsl(@titleColorHue, 35%, 73%);
    border-color: @brColor @brColor transparent transparent;
    border-width: 5px;
    border-left-width: 4px;
  }
  &:after {
    right: 0px;
    left:  auto;
    border-color: darken(@titleColor, 15%) transparent transparent darken(@titleColor, 15%);
  }
}
.note {
  position: fixed;
  top: -50px;
  z-index: 3;
  width: 700px;
  opacity: 0;
  .trans(all 1s ease);
}
.note--active {
  top: 90px;
  opacity: 1;
}
  .note_inner {
    display: inline-block;
    padding: 15px @unit-space 15px 53px;
    background: hsl(@hue, 7%, 30%) url("@{path-imgFolder}/icon-note.png") 12px center no-repeat;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    .round(10px);
    @green: hsl(90, 100%, 70%);
    border: 2px solid @green;
    @sh: inset 0 0 8px 3px hsl(@hue, 7%, 20%),
               0 0 4px #222;
    .shadow(@sh);
  }
.mediaBox {
  background: hsl(@hue, 10%, 96%) url("@{path-imgFolder}/bg_page.png");
  background-color: hsl(@hue, 10%, 96%);
  .border(hsl(@hue, 5%, 60%));
  @sh: 0px 1px 0px hsl(@hue, 30%, 25%);
  .shadow(@sh);

  padding: @unit-space;
}

// LOGO
@import "project/logo";
#logo > .init();

// MENU
@import "project/menu";
#menu > .init();

// STUDENT INFO
@import "project/student-info";
#student-info > .init();

// LESSONS
@import "project/lessons";
#lessons > .init();

// COMMENTS
@import "project/comments";
#comments > .init();

// LIST STUDENTS
@import "project/students-list";
#students-list > .init();

// LIST LESSONS
@import "project/lessons-list";
#lessons-list > .init();

.footer {
  margin: (@unit-space / 2) @unit-space;
  color: #ddd;
}