@charset "UTF-8";

@import "framework/framework";
#framework > .init('/assets/img');

// -----------------------------------------
/* PROJECT STYLE */
//------------------------------------------

// includes
@import "framework/mixins/_mixins";

// variables and mixins
@path-imgFolder: '/assets/img';
@path-iconFolder: '/assets/img/icons';
@unit-space: 20px;
@round: 3px;
@textColor: hsl(197, 7%, 30%);
@hue: hue(@textColor);

.an-noiseSlide() {
  .noiseSlide() {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 471px 0;
    }
  }
  @-webkit-keyframes noiseSlide {.noiseSlide();}
  @-moz-keyframes noiseSlide {.noiseSlide();}
  @-o-keyframes noiseSlide {.noiseSlide();}
  @keyframes noiseSlide {.noiseSlide();}
}

// style
body {
  background: #170D0C url("@{path-imgFolder}/bg.jpg") no-repeat;
  background-size: 100%;// 100%;
}
h1, h2, h3 {
  margin: 0;
}
.an-noiseSlide();
.noise {
  .animation(noiseSlide, 20s, 0s, linear, infinite, normal, none);
  background: url("@{path-imgFolder}/noise.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}
.page {
  margin: auto;
  width: 700px;
  position: relative;
  z-index: 2;
}
.header {
  margin: @unit-space;
}

.title {
  border-bottom: 1px solid #819198;
  box-shadow: 0 1px 0 #FFFFFF;
  color: #556268;
  font-size: 15px;
  font-weight: bolder;
  letter-spacing: 0.1em;
  padding-bottom: 2px;
  text-transform: uppercase;
  word-spacing: 0.1em;
  margin-bottom: 10px;
}
.win-title {
  position: absolute;
  left: 50%;
  width: 180px;
  margin-left: -90px;
  float: none;
}

// LOGO
.logo {
  margin: auto;
  width: 350px;
  height: 110px;
}
.logo_link {
  text-indent: -9999px;
  display: block;
  height: 130px;
  background: url("@{path-imgFolder}/logo.png") no-repeat;
  border: none;
  text-decoration: none;
}
// END LOGO

// MENU
.menu-wrapper {
  margin-bottom: 30px;
}
.menu {

}
  @hoverColor: hsl(161, 30%, 88%);
  .menu_item {
    float: left;
    width: 33.3%;
    .box-sizing();
    padding: 10px 20px;
    position: relative;
    background-color: hsl(45, 45%, 90%);
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(@hue, 60%, 100%) hsl(@hue, 5%, 65%) hsl(@hue, 5%, 40%);
    border-right: none;
    @sh: inset 0px 0px 2px #eee;
    .shadow(@sh);
    .trans(all 0.3s ease-out);
    &:first-child {
      border-left: none;
    }
    &:hover {
      background-color: @hoverColor;
      @sh: 0px 1px 2px #aaa;
      .shadow(@sh);
    }
  }
  .menu_item--active {
    cursor: default;
    background-color: @hoverColor;
    @sh: 0px 1px 2px #aaa;
    .shadow(@sh);
  }

  .menu_item_arrow {
    position: absolute;
    overflow: hidden;
    .size(25px, 13px);
    .side(50%, 100%);
    margin: 0 0 0 -12px;
    &:after {
      content: '';
      display: block;
      margin: -9px 0 0 4px;
      .size(15px, 15px);
      background-color: @hoverColor;
      .border(hsl(@hue, 5%, 40%));
      .rotate(45deg);
      .shadow(0px 1px 2px #999);
    }
  }
    .menu_item_icon {
      font-size: 32px;
      display: block;
      margin-top: 12px;
      color: lighten(@textColor, 12%);
    }
    .menu_item_text {
      font-size: 18px;
      font-weight: bold;
    }
    .menu_item_subtext {
      color: lighten(@textColor, 12%);
    }
// END MENU

// STUDENT INFO
.student-info {
  margin: @unit-space;
}
  .student-info_foto {
    width: 410px;
    display: block;
    margin-right: 20px;
    padding: 5px;
    background-color: hsla(0, 100%, 100%, 50%);
    .box-sizing();
  }
  .student-info_fio {
    padding: @unit-space;
    background-color: hsla(0, 100%, 100%, 50%);
    overflow: hidden;
    font-size: 28px;
    line-height: 150%;
  }
  .student-info_city {
    padding: @unit-space;
    background-color: hsla(0, 100%, 100%, 50%);
    overflow: hidden;
    margin-top: 20px;
    font-size: 18px;
  }
.student-edit {
  display: none;
}
// END STUDENT INFO

// LESSONS
@contrColor: hsl(@hue, 5%, 60%);
.mediaBox {
  background: hsl(@hue, 10%, 96%) url("@{path-imgFolder}/bg_page.png");
  background-color: hsl(@hue, 10%, 96%);
  .border(@contrColor);
  @sh: 0px 1px 0px hsl(@hue, 30%, 25%);
  .shadow(@sh);

  padding: @unit-space;
}

.stripe-title {
  @titleColor: hsl(40, 40%, 93%);
  @titleColorHue: hue(@titleColor);

  position: relative;
  font-size: 20px;
  line-height: 150%;
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  padding: 5px @unit-space + 10px;
  margin: 0 -(@unit-space + 10px) (@unit-space / 2);
  .text-shadow(hsl(@titleColorHue, 10%, 97%));
  background-color: @titleColor;
  .gradient(hsl(@titleColorHue, 40%, 88%), @titleColor);
  @sh: 0px 1px 0px hsl(@titleColorHue, 20%, 70%),
  0px 1px 1px hsl(@titleColorHue, 20%, 75%);
  .shadow(@sh);
  &:before,
  &:after {
    display: block;
    content: '';
    .size(0px, 0px);
    left: 0px;
    bottom: -10px;
    position: absolute;
    border-style: solid;
    @brColor: hsl(@titleColorHue, 35%, 73%);
    border-color: @brColor @brColor transparent transparent;
    border-width: 5px;
    border-left-width: 4px;
  }
  &:after {
    right: 0px;
    left:  auto;
    border-color: darken(@titleColor, 15%) transparent transparent darken(@titleColor, 15%);
  }
}
.lesson-info {
  font-size: 16px;
  height: 24px;
  border-bottom: 1px solid #ccc;
  padding-top: 1px;
  margin-bottom: @unit-space;
}
.lesson-video {
  margin-bottom: @unit-space;
}
.lesson-download {
  @color: hsl(200, 10%, 88%);
  padding: (@unit-space / 2);
  padding-bottom: (@unit-space / 2 - 3);
  margin-top: (@unit-space / 2);
  background-color: @color;
  .round(4px);
  border-top: 1px solid darken(@color, 10%);
  border-bottom: 1px solid #FFF;
  @sh: inset 0 0px 1px darken(@color, 15%);
  .shadow(@sh);
}
  .lesson-download_title {
    display: inline-block;
    margin-top: 3px;
  }
// END LESSONS

.footer {
  padding: (@unit-space / 2) @unit-space;
}