<a href="#!<%=  urlPage.routeName + '/' + urlPage.routeMethod.view + '/' + studInfo.id %>" class="hexagon">
    <div class="hexagon_inner1">
        <div class="hexagon_inner2" style="background-image: url('<%= studInfo.link_photo %>')">
            <div class="hexagon_desc">
                <h2 class="hexagon_desc_title"><%= studInfo.first_name %><br/> <%= studInfo.last_name %></h2>
            </div>
        </div>
    </div>
</a>