<h1 class="big-title _center _spacer">
    <%== this.titlePromoText %>
</h1>
<article class="mediaBox">
    <h1 class="stripe-title">
        <%= this.titleText %>
    </h1>
    <%== this.aboutSHRI %>
</article>