<% for(var i = 0, len = this.length; i < len; i++){ %>
    <a href="#!<%= this[i].url %>" class="menu_item js-menu" id="<%= this[i].id %>">
        <div class="-row">
            <div class="-unit menu_item_icon-wrap">
                <i class="icon-info-sign menu_item_icon"></i>
            </div>
            <div class="-unit _padding-half-l">
                <span class="menu_item_text"><%= this[i].text %></span> <br/>
                <span class="menu_item_subtext"><%= this[i].desc %></span>
            </div>
        </div>
        <div class="menu_item_arrow _hide"></div>
    </a>
<% } %>